<div class="album text-muted">
  <div class="container portfolio-form">
    <%= source_helper("alert alert-primry") %>
    <%= link_to "Create New Portfolio Item", new_portfolio_path if logged_in?(:site_admin) %>
    <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>