<div class="blog-masthead">
    <div class="container">
      <nav class="nav blog-nav">
      <%= nav_helper 'text-white', 'span' %>
      <li><%= login_helper 'text-white' %></li>
    </nav>
  </div>
</div>