<!-- <nav class="navbar fixed-top navbar-dark bg-dark text">
  <ul class="navbar-nav" id="line-up">
    <li><%= nav_helper 'text-white nav-items', 'li' %></li>
    <li><%= login_helper 'text-white' %></li>
  </ul>
</nav> -->

<nav class="navbar navbar-dark bg-dark fixed-top line-up" id="links">
  <%= nav_helper 'text-white', 'li' %>
  <li><%= login_helper 'text-white' %></li>
</nav>