<h1>A little about myself</h1>
<p>I am a up and coming full stack developer based out of Utah. While going through the learning process, one of the main focus points was to take things step by step to ensure a streamlined process for the client and a finished product that will exceed expectations</p>
