<div class="app-card-container">
  <div class="card">
    <h1>A little about myself</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "Profile.jpg", width: 300, alt: "Profile Image", class: 'profile-img' %>
      </div>

        <div class="col-md-8">
          <p>In Fullstack Development, you're working with the magic that regular internet users think just happens for them or never think about. I've set aside 300+ hours of time to start the journey to become the best developer possible. I am proficient in Ruby (on Rails), HTML, CSS, SCSS. Currently I'm apply myself to learning JavaScript and Python or any language that best suits the client or needs of the project.</p>
        </div>
      </div>
    </div>
  </div>
</div>