<h1>Lets create a website together</h1>

<div class="row">
  <div class="col-md-6">
    <h3>Connect on LinkedIn</h3>

    <p><a href = "https://www.linkedin.com/in/kaden-jenson-a8a190107">LinkedIn</a></p>

    <h3>Chat directly</h3>

    <p><a href = "mailto:sobeit99@gmail.com">Email Me</a></p>
  </div>

  <div class="col-md-6">
  </div>
</div>